.viewTemplate{

    border: 4px solid white;
    border-radius: 2%;

}

.itemTemplate{
    overflow-y: auto;
    background-color: white;

    height: 100%;
}

.outerTemplate{
    height: 100%;
    cursor: pointer;
}

.itemTemplate {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.itemTemplate::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.itemContainer{

    margin: 0 auto;
}