body{
    -webkit-font-smoothing: antialiased
}
html {
    scroll-behavior: smooth;
  }
#menuTopBackground{
    background-image: url('../assests/hero-large.png');
    background-repeat:no-repeat;
    background-size:contain;
    height:25vw;
    width: 100vw;
    background-position: top;
    background-position-x: center;
    background-position-y: top;
    background-size: 100%;
    min-height: 100vh;
    background-color: #4a154b   ;
    transform: translate3d(0px, 0px, 0px);
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.navbar.transparent {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.headerMenuPage{
    color: white;
    font-weight: 700;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 10px;
    word-wrap:normal;

}

.nav-item:hover{
    border-bottom: 2px solid white;
}

.activeItem{
    border-bottom: 2px solid white;

}

.centerTextLanding{
    font-size: calc(2.1em + 1vw);
    
    color: #fff;
    margin-bottom: 2rem!important;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -1.5px;
    margin-top: 0;
    margin: .67em ;
    text-align: center!important;

}

@media (max-width: 479px){

    .centerTextLanding{
        font-size:20px;
    }

}

.buttonTextMenu{
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.28571429;
    letter-spacing: .8px;
    font-size: large;
    color: #611f69;
}

.buttonTextMenu:hover{
    text-transform: none;
    text-decoration: none;
    color: #611f69;
}

/* @keyframes slide-in--down{
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;

} */

.scrolledMenuBg{
    color:black;
    border: 1px solid #fff;
    border-radius: 50px;
    position: fixed;
    width: 63%;
    left: 18%;
    top: 2%;
    background-color: transparent;
    position: fixed;
    animation:  420ms cubic-bezier(.165,.84,.44,1);
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    background-color: #fff;
    box-shadow: 0 4px 40px rgb(0 0 0 / 8%);
    z-index: 1000;
}



.scrolledMenuBg .headerMenuPage{
    color:black;
    font-size: 100px;
}
.scrolledMenuBg .headerMenuPage:hover{
text-decoration: underline;
}

.scrolledMenuBg span{

    padding:10%;

}

.scrolledMenuBg p{

    padding:10%;

}

.menuSignInBtn{
   background:'transparent';border:'1px solid black';
}

.menuSignInBtnTxt{
    color:white;font-weight:700;font-family:Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;font-size:15px;
}


.originalLeftPg{
    font-size:15px;color:white;font-weight: 700;
    font-family:Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif
}
.leftMenuPg{
    color: black;
}

.middleMenuPg{
    background-color: rgb(246, 239, 232);
    opacity: 1;
}

.templateViewScroll{
    max-width: 1000px;

}



.templateViewScrollTop{
    max-width: 100%;
    height: 40px;
    background: #2b092b;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: flex;
    align-items: center;
}

.middleViewScrollTop{
    max-width:100%;
    height: 40px;
    background: #2b092b;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: flex;
    align-items: center;

}

.templateViewScrollTopButtons{
    padding-left: 1.5rem;
}
.templateViewScrollTopButton{
border-radius: 50%;
width: 12px;
height: 12px;
margin-right: 8px;
display: inline-block;
}

.templateViewScrollBottom{
    box-shadow: 0 4px 20px rgb(0 0 0 / 8%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1);
    z-index: 1;
    max-height: 500px; 
    max-width: 100%;
    flex-shrink: 0;
   

}

.screenCaptureVid{
    max-width:100%;
    max-height: 100%;

}

.mainPageHeaderBig{
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -1.5px;
    margin-top: 0;
    /* font-size: 2.125rem; */
    margin-bottom: 1rem;
}

.parentCenterTarget{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width:90%;
    margin: auto;
    animation: fade-in-alt 1s;
    
}

@media (max-width: 1100px) {
    .parentCenterTarget{
    width:100%;
    margin: auto;
    animation: fade-in-alt 1s;
    }

    .templateViewDivCenter{
        align-items: center;
    }
}

.normalLandingText{
    font-weight: 500;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

.pcTargetTemplateViewInner{
    border: 0.1px solid #696969;
    text-decoration: none;
    color: #696969;
    cursor: pointer;
    background-color: #fff;

}

.pcTargetTemplateViewInnerBlue{
    background-color: #611f69;
    color: #611f69;
    cursor: pointer;
    background-color: #fff;
    border-color: #611f69;
    

}


.pcTargetTemplateViewOuter{
    /* border: 1px solid #696969; */

}

.pcTargetTemplateViewInnerPadded{

    padding: 5%;

}

.codeDisplayTemplate{
    height: 100%; 
    overflow-y: scroll;
    zoom: 1;
}


.pcTargetTemplateViewInnerImg{
    width: 50%;
}

.editorLookBoxOuter{
    border-radius: 5px;
    border: 2px solid #611f69;
    background-color: #fff;
    max-width: 50%;
}

@media (max-width: 973px){
    .pcTargetTemplateViewInnerImg{
        width: 30%;
    }
    .editorLookBoxOuter{
        width: 100%;
    }

}




.editorLookBoxInner{
    cursor: pointer;
}

.editorLookBoxInnerBlue{
    background-color: #611f69;
    color: #fff;
}

.landingPageViewText{
    margin: auto;
}