html{
    scroll-behavior: smooth
}
body{
    overflow-x: hidden;
    max-width: 100%;
    scroll-behavior: smooth;
    background-color: #f0f3f8
}
/* p{
    color: #545454;
    font-size: 50px;
    font-family: "adobe-garamond-pro,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif";
    
}
p.h2{
    color: #45b29a;
    font-size: 30px;
    font-family: "adobe-garamond-pro,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif";
    font-family: "Courier New", Courier, monospace;


}
p.h1{
    color: #1e836c; 

    font-family:"Courier New", Courier, monospace;

} */

hr{
    border-top:4px dotted #45b29a;
}



#site{
    /* border: solid;
    border-width: 6px;
    border-color: #edeeef; */
    border-radius: 15px;
    background-color: white;
    z-index: 1;
}

#editor{
    /* border: solid;
    border-width: 8px;
    border-color:#edeeef; */
    background-color: white;
}



.overlay{
  border: solid;
  border-width: 3px;
  border-color:  #b0e2ff;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  background-color: rgba(135, 206, 360,0.5);
  z-index: 2;
  cursor: pointer;
}

.selected{
    background-color:rgba(253, 249, 239, 0.5);
    border: solid;
    border-width: 3px;
    border-color: #b0e2ff;
  

}